*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
}

:root{
    --cont-height: 100px;
    --white-text: ghostwhite;
    --black-text: #0c1014;
    --white-cont:ghostwhite;
    --black-cont: #0c1014;
}

.logo,
.link-list a,
.link-list button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
}

.header-container{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    height: var(--cont-height);
    align-items: center;
    border-bottom: 2px solid rgb(164, 164, 164);
}

.link-list.state1 a{
    border: 2px solid var(--white-cont); 


    height: 32px;
}

.link-list.state2 a{
    border: 2px solid var(--black-cont);
}

.link-list.state1,
.header-container.state1
{
    background-color: var(--black-cont);
    color: var(--white-text);
}

.link-list.state2,
.header-container.state2{
    background-color: var(--white-cont);
    color: var(--black-text);
}


.logo{
    font-size: 40px;
}

.link-list{
    align-items: center;
    display: flex;
    gap: 10px;
}

.link-list a {
    color:inherit;
}

.link-list a:hover {
    background-color: #909090;
    color:#0c1014;
}

.link-list button.state1 {
    color:var(--white-text);
    background-color: #0c1014;
    border: 2px solid var(--white-cont);
    border-radius: 50px;
}
.link-list button.state2 {
    color: var(--black-text);
    background-color: #909090;
    border: 2px solid var(--black-cont);
    border-radius: 50px;
}

.link-list button:hover {
    background-color: #909090;
    color:#0c1014;
}

.link-list button{
    align-items: center;
}

.content-container{
    display: flex;
    justify-content: center;
    background-color: var(--black-cont);
}

.content-box{
    color: white;
    flex:1;
    height: auto;
    border: 2px solid var(--white-cont);
    margin: 20px 200px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}


.content-box-text{
    border: 2px solid var(--white-cont);
    border-radius: 2px;
    color: white;
    flex: 1;
    margin:10px;
    padding: 5px;
    background-color:  var(--black-cont);

}
.content-box-buttons{
    border: 2px solid var(--white-cont);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color:  var(--black-cont);
}
.content-box-text textarea{
    flex:1;
    background-color: var(--black-cont);
    color: white;
    resize: none;
    appearance: none;
    outline: none;
    border: 2x solid var(--white-cont);
    background: transparent;
    box-sizing: border-box;
    height: calc(100% - 20px);
    width: calc(100% - 5px);
    display: flex;
    flex-direction: column;
}


.btns{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.post-container{
    display: flex;
    height: auto;
     background-color: var(--black-cont);
     flex-direction: column;
}
.post-content{
    flex: 1;
    background-color: var(--black-cont);
     border: 2px solid var(--white-cont);
     margin: 20px 200px 20px;
     color: var(--white-cont);
     padding: 10px;
}
