*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 25px;
    text-decoration: none;
}


:root{
    --header-height: 100px;
    --border: #ffab00;
    --border-nav: #86270a;
    --background: #0c1014;
    --background-nav: #5e6267;
    --font: ghostwhite;
    --hover-background: #24303d;
    --sides: 350px;
    --button-width: 50px;
    --button-height: 50px;
    --secret-navbar-width: 300px;
}

:root .style1{
    --border: #9cbdb8;
    --background: #f0e7d6;
    --font: #0b0c12;
}
:root .style2{
    --border: #de7a5f;
    --background: #fff6ed;
    --font: #5e6e99;
}

:root .style-black{
    --border: rgb(93, 93, 93);
    --background: #0c1014;
    --font: ghostwhite;
    --hover-background: #24303d;
}

:root .style-white{
    --border: #cbc8c8;
    --background: #fafafa;
    --font: #212121;
    --hover-background:#b5b5b5;
}

.ddlists{
    display: none;
}

/*displayNavbars*/
.open{
    display: flex;
}

.obertka.open1 .ddlists{
    display: flex;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--header-height);

    background-color: var(--background);
    border: 4px solid var(--border);
    color: var(--font);
    

    align-items: center;

    padding: 10px;
}

.navbar-container{
    display: flex;
    overflow-y: auto;

    height: calc(100vh - var(--header-height));
    padding: 10px;

    flex-direction: row;
    background-color: var(--background);
    width: 50px;
    border: 2px solid var(--border);

    transition: width 0.2s ease;
}
.navbar-container::-webkit-scrollbar {
    width: 10px;
}


.navbar-container:hover{
    width: calc(var(--sides) - 50px);
}

.sizing{
    width: var(--sides);
}

.nav-list{
    display: flex;
    flex-direction: column;
    gap: 10px;

    transform: translatex(-250px);
    transition: transform 0.2s ease;

}

.navbar-container:hover .nav-list{
    transform: translatex(0);
}

.ddlists{
    color: white;
    flex-direction: column;
    border-radius: 10px;

    gap: 10px;
    margin-top: 10px;
}

.ddlists a{
    display: flex;
    background-color: var(--background);
    border: 2px solid var(--border);
    color: var(--font);

    width: calc(100% - 50px);
    
    padding: 5px;

    margin-right: auto;

    font-size: 20px;
    text-align: center;
}

.ddlists a:hover{
    background-color: var(--hover-background);
}

.nav-toggle{
    background-color: var(--background);
    border: 4px solid var(--border);
    border-radius: 50px;
    color: var(--font);

    text-align: center;
    
    padding: 10px;
    height: 50px;
    width: 50px;
}


.nav-btn{
    flex:1;
    background-color: var(--background);
    border: 4px solid var(--border);
    border-radius: 10px;
    color: var(--font);

}

.nav-btn:hover {
    background-color: var(--hover-background);
}

.nav-links{
    gap: 3px;
}

.content-container{
    display: flex;
    flex-direction: row;
}

.create-see-container{
    flex:1;
    background-color: var(--background);
    border: 2px solid var(--border);
    height: calc(100vh - var(--header-height));

    display: flex;
    flex-direction: row;

    color: var(--font);
     padding: 10px;
     gap:10px;
}

.recent-posts-container{

    height: calc(100vh - var(--header-height));
    width: var(--sides);
    background-color: var(--background);
    border: 2px solid var(--border);

    color:var(--font);
}

.post-nav{
    padding: 5px;
    overflow: hidden;
    border: 3px solid var(--border);
    border-radius: 10px;
    display: flex;
    width: fit-content;
    height: fit-content;

    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
}

/*.post-nav:hover{
    height:100%;
}*/

.post-container{
    overflow: hidden;
    border: 0px solid var(--border);
    height: 0px;
    width: 0px;

    border-radius: 10px;
    transition: height 0.2s ease, width 0.2s ease, border 0.2s ease, transform 0.2s ease;
}

.post-container.visible{
    border: 1px solid var(--border);
    height: 100%;
    width: 100%;
}


.lock-vertical{
    height: 100%;
}

.lock-horizontal{
    width: 100%;
}

.publish-buttons,
.post-area{
    display: flex;
    flex-direction: column;
}

.publish-buttons{
    display: flex;
    flex-direction: row;
}

.publish-buttons,
.post-area{
    transform: translate(-150px, 150px);
}

.post-container.visible .post-area,
.post-container.visible .publish-buttons{
    transform: translateX(0);

}

.publish-buttons,
.post-area{
    padding: 10px;
}

.lock2{
    height: 40px;
    width: 40px;
}


.settings-button{
    display: flex;
    background-color: green;

    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50px;
    justify-content: center;

    align-items: center;

    border: 2px solid var(--border);
}

.settings-button:hover{
    background-color: var(--hover-background);
}

.settings-button .fa-gear{
    transition: transform 0.6s ease;
}


.settings-button:hover .fa-gear{
    transform: rotate(90deg);
}



.styleing-button{
    width: 40px;
    height: 40px;
    
    border: 2px solid var(--border);
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    background-color: var(--background);

}

.fa-moon{color: white;}


.styleing-button .fa-moon,
.styleing-button .fa-sun{
    transition: transform 0.6s ease;
}


.styleing-button:hover .fa-moon,
.styleing-button:hover .fa-sun{
    transform: scale(1.1);
}


.styleing{
    margin-left: auto;
    margin-right: 10px;
}

.locked{
    display: flex;
    flex-direction: row;
    margin-left:auto;

    transform: translatex(-164px);
    transition: transform 0.2s ease;

}

.fa-angle-left,
.fa-lock-open,
.fa-lock{
    color: var(--font);
    margin: 0px 5px 0px;
}

.navbar-container:hover .locked{
    transform: translateX(0);
}


.locked button{
    background-color: var(--background);
    height: fit-content;
    border: 2p solid var(--border);
}

.lock3{
    width: calc(var(--sides) - 50px);
}

.navbar-container.lock3 .nav-list,
.navbar-container.lock3 .locked
{
    transform: translateX(0);
}