@import url(./general.css);

.content-navbar-container{
    width: 20px;
    height: 100vh;
    padding: 10px;
    border: 1px solid red;
    transition: width 0.3s ease;
}

.content-navbar-container.open {
    width: 300px;
    height: 100vh;
    border: 1px solid red;
}
