@import url(./general.css);

.modal-container[open]{
    position: fixed;
    top: calc(50% - var(--modal-heigth) / 2);
    left: calc(50% - var(--modal-width) / 2 );

    width: var(--modal-width);
    height: var(--modal-heigth);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-between;    
    overflow: hidden;

}

.modal-container[open] .modal-text{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.modal-container[open] .modal-nav{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-button-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 10px;

    border: none;
    border-radius: 10px;
    

    transition: transform 0.3s ease;
}

.modal-button-nav:hover {
    background-color: rgb(200, 200, 200);
}

.modal-button-nav:active {
    transform: scale(0.9);
}

.modal-container.big[open]{
    position: fixed;
    top: calc(50% - var(--modal-big-h) / 2);
    left: calc(50% - var(--modal-big-w) / 2 );

}

.modal-container[open]::backdrop,
.modal-container.big[open]::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.modal-container.big[open] .modal-text{
    flex:1;
    padding: 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:baseline;   
}

.modal-container.big{
    height: var(--modal-big-h);
    width: var(--modal-big-w);
}

ul{
    list-style: none;
}
li{ text-indent: 30px;}

h2{
    margin:20px 0px 20px
}